{
  "extends": ["airbnb", "prettier", "plugin:import/errors", "plugin:import/warnings"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "no-unused-vars": 1,
    "react/prop-types": 1,
    "no-param-reassign": "off",
    "react/no-array-index-key": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    // allow jsx syntax in js files
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
